@model AppointmentDetailsViewModel
@{
	ViewBag.Title = "Appointments";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />



@if (Model.Appointments.Any())
{
    <div class="row">
        @foreach (var appointment in Model.Appointments)
        {
            <partial name="_AppointmentPartial" model="@appointment" />
        }
    </div>
}
else
{
    <h3 class="text-center">No dental appointments yet!</h3>
}
