@model AppointmentServiceModel
@{
    ViewData["Title"] = "Postpone Appointment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<form asp-action="Postpone">

    <div class="d-flex justify-content-center">
        <div class="card alert-success" style="width: 50rem;">
            <div class="card-body">
                @if (Model.Status == false)
                {
                    <h3 class="card-title text-center">@Model.StartDate</h3>
                }                
                <p class="card-text"><span class="fw-bold">Patient Name: </span>@Model.Patient.FirstName @Model.Patient.LastName</p>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <input type="submit" value="Postpone" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>
