<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@{
	ViewBag.Title = "Create Dental Procedure";
}

<partial name="_ProcedureFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}