@model AttendanceFormModel

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@{
	ViewBag.Title = "Edit Attendance";
}

<partial name="_ProblemFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}